.chat-message {
  display: flex;
  align-items: center;
}

.chat-text-container {
  display: flex;
  flex-direction: column;
}

.chat-message img {
  width: 24px;
  height: 24px;
  border-radius: 50%;
}

.user-name {
  font-size: 10px;
  margin-bottom: 0;
}

.text-message {
  font-size: 12px;
  background-color: #e9e9eb;
  color: #000;
  padding: 12px;
  border-radius: 12px;
  margin-top: 2px;
}

.received-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  margin-top: 4px;
}

.received {
  background-color: #1185f7;
  color: #fff;
}
